<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      About
    </ion-card-header>
    <ion-card-content>
      <p>
        <strong>Giflist</strong> is a client for <strong>reddit</strong> that will endlessly
        <strong>stream GIFs</strong> from
        <strong>any subreddit that predominantly contains gifs</strong>. By default it uses the
        popular <strong>gifs</strong> subreddit, but you can change this to whatever you like, e.g:
        perfectloops, me_irl, chemicalreactiongifs.
      </p>
      <br>
      <p>
          To play a GIF, just tap it. To view the original submission for any GIF, just tap the title
          section and it will open in reddit. You can configure some settings for the application
          below. Enjoy!
      </p>
    </ion-card-content>
  </ion-card>

  <h3>Sort</h3>

  <ion-segment [(ngModel)]="redditService.settings.sort" color="secondary">
    <ion-segment-button value="hot">
      <ion-label>Hot</ion-label>
    </ion-segment-button>
    <ion-segment-button value="top">
      <ion-label>Top</ion-label>
    </ion-segment-button>
    <ion-segment-button value="new">
      <ion-label>New</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <h3>Per Page</h3>
  
  <ion-segment [(ngModel)]="redditService.settings.perPage" color="secondary">
    <ion-segment-button value="5">
      <ion-label>5</ion-label>
    </ion-segment-button>
    <ion-segment-button value="10">
      <ion-label>10</ion-label>
    </ion-segment-button>
    <ion-segment-button value="15">
      <ion-label>15</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-button expand="full" (click)="save()" color="secondary">
    Save Settings
  </ion-button>


</ion-content>
